.page-title {
  margin-top: 0;
}

.main-page-title {
    margin-bottom: 2rem;
    text-align: center;
    background: var(--gradient-base-accent-1);
    color: rgb(var(--color-button-text));
    text-align: center;
    margin: 0 0 3.6rem;
    padding: 2.5rem 0;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 3rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

@media screen and (max-width: 989px) {
  .section-template--16525995016416__main-padding .rte {
    overflow: scroll;
    padding: 5px;
  }
}